{% extends "webpages/frontpage.html" %}

 {% block content %}
    <div class="container">
      <div class="jumbotron">
        <h3>Create New Post</h3>
      <form>
        Post Title: <br>
        <input type=text name="title" placeholder="your title here">
      <p>
      <textarea rows="10" cols="80" placeholder="your text here"></textarea>
      </p>
      <input type="checkbox" name="private" value="privacy"> Private<br>
      Expiration date: <input type="date" name="expiry">
          </form>
          <p><a class="btn btn-secondary" href="#" role="button">Post &raquo;</a></p>
        </div>
      </div>
{% endblock content%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
  </html>
