{% extends "webpages/frontpage.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h3>Create New Post</h3>
    <form method = post>
      {% csrf_token %}

      {{form2.as_p}}
      <br>
      <button onclick="confirm()" class="btn btn-secondary" type="submit">Post</button>
    </form>
    <script>
      function confirm() {
        alert("Post Created");
      }
    </script>
  </div>
</div>
{% endblock content%}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
