{% extends "webpages/frontpage.html" %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    {% if user.is_authenticated and user == posttable.owner%}
    <h2 class="display-4">Editing post: {{ posttable.title }}</h2>

    <div class="main">
      <form action="" method="post">
        {% csrf_token %}

        {{form.as_p}}

        <div class="row">
          <div class="col-md"><input class="btn btn-primary" type="submit" value="Submit"></div>
        </form>
        <form action="/HostessPasties/{{posttable.postID}}/">
          <div class="col-md"><input class="btn btn-secondary" type="submit" value="View Post"></div>
        </form>
        <form action="/HostessPasties/{{posttable.postID}}/postdelete/">
          <div class="col-md"><input class="btn btn-secondary" type="submit" value="Delete Post"></div>
        </form>
      </div>
      {% else %}
      <h2 class="display-4">You don't have access to this page</h2>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
