{% extends "webpages/frontpage.html" %}

{% block sidebar %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/HostessPasties/">Hostess Pasties</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/HostessPasties/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  {% if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/HostessPasties/change_password/">Change Password<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/HostessPasties/delete/">Delete User<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/accounts/logout">log out<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  {% else %}
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/accounts/login">log in<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>
{% endblock sidebar%}

{% block content %}
  <div class="container">
  <div class="jumbotron">
    <div class="main">
      <h3>User Information</h3>
      <form action="." method="post">
        {% csrf_token %}
        <table>
          <tr>
            <th>Username:</th>
            <th>{{ form.username }}</th>
          </tr>

          <tr>
            <th>email:</th>
            <th>{{ form.email }}</th>
          </tr>

          <tr>
            <th>First name:</th>
            <th>{{ form.first_name }}</th>
          </tr>

          <tr>
            <th>Last name:</th>
            <th>{{ form.last_name }}</th>
          </tr>
        </table>
        <div class="row">
          <div class="col-md"><input class="btn btn-primary" type="submit" value="Submit"></div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
