{% extends "webpages/frontpage.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if user.is_authenticated %}
    <h1 class="display-4">Delete Author</h1>

    <p>Are you sure you want to delete the user: {{ user.username }}?</p>

    <form action="" method="POST">
      {% csrf_token %}
      <input class="btn btn-secondary" type="submit" value="Yes, delete.">
    </form>
    {% else %}
    <h2 class="display-4">You don't have access to this page</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
