{% extends "webpages/frontpage.html" %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      {% if user.is_authenticated %}
      <h2> You are already logged in </h2>
      {% endif %}
      {% if user.is_staff and user.is_authenticated %}
      <h2>Admins must use staff portal</h2>
      <a href="/admin/">Staff Login<span class="sr-only">(current)</span></a>
      {% else %}
      <div class="container">
        <!-- Example row of columns -->
        <h1 class="display-3">Who are you?</h1>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <table>

            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
              <td>{{ form.username.errors }}</td>
            </tr>

            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
              <td>{{ form.password.errors }}</td>
            </tr>
          </table>

          <input class="btn btn-primary" role="button" type="submit" value="Login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>
    </div>
  </div>
  {% endif %}
  {% endblock %}
</main>

<footer class="container">
  <p>&copy; Dumpster in Hawaii 2018-2019</p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

</body>
